{% extends "main1.html" %}
{% block title %} CAT&DOGS {% endblock %}
{% block content %}
<table border="5">
    <tr border="5" >
        <td border="5">Pets</td>
    </tr>
    {% for pet in a %}
    <tr border="5">
        <td border="5">
            <img class="mx-auto d-block" src="{{ pet.url }}" height="200px" width="200px">
        </td>
    </tr>
    {% endfor %}
</table>
<!--    <form action="{% url 'spam' %}" method = "POST">-->
<!--    {% csrf_token %}-->
<!--    <button type="submit" name="spam" class ="btn btn-outline-warning"> send spam </button>-->
<!--    <img class="mx-auto d-block" src="{{ url }}" height="200px" width="200px">-->
<!--    </form>-->
{% endblock %}